@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .3rem;
    background-color: #004A74;
    color: white;
}

header {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}